*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Segoe;
  src: url("/fonts/Segoe UI.ttf");
}
body{
  height: 100vh;
  font-family: Segoe;
  /* background-color: #000; */
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
